*{
    margin: 0;
    padding: 0;
    bottom: 0;
}

#content_img{
    background-image: url(../img/a-paisagem-bonita-do-sol-da-praia-com-um-barco_1112-212.jpg);
    background-size: 40%;
    background-repeat: repeat-y;
    border: 2px solid black;
    width: 100%;
    height: 300px;
}