*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFE0B2;
    width: 100vw;
    height: 100vh;

}

main{
    margin: 30px auto;
    width: 600px;
    height: 600px;
    border: 1px solid #ff8a65;
    background-color: #fbe9e7;
}

.dis{
    display: flex;
    justify-content: space-around;
}

div{
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: #5e35b1;
    margin: 2px;
}

